<!doctype html>
<html lang="en" style="height:100%;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <title>Hello, world!</title>
  </head>
  <body id="chat-ui-body">
    <div class="container-fluid h-100 container-fluid-pad">
      <header class="header">
        <%= render "navbar.html", assigns %>
      </header>
      <p class="alert alert-info collapse" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger collapse" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= render @view_module, @view_template, assigns %>

    </div>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js" ></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>

