<!-- The list of messages will appear here: -->
<ul id='msg-list' class='row list-group'></ul>

<div class="row">
  <div class="col-xs-9">
    <input type="text" id="msg" class="form-control" placeholder="Your Message" autofocus>
  </div>
</div>

<script>window.cohort_id = "<%= @cohort_id %>";</script>
<script>window.userToken = "<%= LetsColearn.Guardian.Plug.current_token(@conn) %>";</script>