<h2>My Courses</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for cohort <- @cohorts do %>
    <tr>
      <td><%= cohort.title %></td>
      <td><%= cohort.description %></td>

      <td class="text-right">
        <span><%= link "Enter", to: cohort_chat_path(@conn, :index, cohort.id), class: "btn btn-primary btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
