<h3> <%= @milestone.milestone %> </h3>
<%= link "back", to: goal_milestone_path(@conn, :index, @milestone.goal), class: "btn btn-std btn-xs" %>
<ul>
  <%= for comment <- @milestone.comments do %>
    <li>
      <strong><%= comment.user.username %>:</strong> <%= comment.comment %> 
    </li>
  <% end %>
</ul>

<span><%= link "Comment", to: milestone_comment_path(@conn, :new, @milestone), class: "btn btn-primary btn-xs" %></span>