<h2><%= @goal.goal %> </h2>

<ul>
  <%= for milestone <- @goal.milestones do %>
    <li>
      <%= milestone.milestone %> 
      <span><%= link "delete", to: goal_milestone_path(@conn, :delete, @goal, milestone), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
    </li>
  <% end %>
</ul>

<span><%= link "Add", to: goal_milestone_path(@conn, :new, @goal), class: "btn btn-primary btn-xs" %></span>