/* This file is for your main application css. */
@import "bootstrap";

.bottom-margin {
  margin-bottom: 70px;
}

.chat-inp {
  position: absolute;
  bottom: 0;
}

.h-80 {
  height: calc(100% - 100px)
}

.container-fluid-pad {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  overflow: hidden;
}

#chat-ui-body {
  overflow: hidden;
  height: 100%;
}
.chat-container {
  height: calc(100% - 60px);
  overflow-y: scroll;
}