<h2>Explore Goals</h2>

<table class="table">
  <thead>
    <tr>
      <th>Goals</th>
      <th>Pre requisites</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for goal <- @goals do %>
    <tr>
      <td><%= link goal.goal, to: goal_milestone_path(@conn, :index, goal), class: "btn btn-default btn-xs" %></td>
      <td><%= goal.pre_requisites %></td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Goal", to: goal_path(@conn, :new) %></span>
